@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  touch-action: manipulation;
}

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-950;
  }
}